MYSQL_DATABASE_HOST=localhost
MYSQL_DATABASE_PORT=3306
MYSQL_DATABASE_NAME=webtoon_review
MYSQL_USERNAME=webtoon
MYSQL_PASSWORD=webtoon-local-password
MYSQL_ROOT_PASSWORD=root-local-password

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis-local-password

MONGODB_HOST=localhost
MONGODB_PORT=27017

JWT_KEY=change-this-local-jwt-key-to-at-least-32-characters
